body{
    background-image: url('forestBackground.jpg');
    background-size: cover;
}
#topName{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}
.woodBanner{
    border: outset 5px rgb(70, 54, 33);
    padding: 0 20px;
    border-radius: 5% 5% 25% 25%;
    background-image: url('woodTop.jpg');
    background-size: contain;
    color: gainsboro;
    font-style: italic;
    font-variant: small-caps;
    text-shadow: 2px 2px 1px black;
    position: relative;
    box-shadow: 10px 10px 40px black;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 0.2vw;
    user-select: none;
}
.woodBanner::before{
    content: '';
    width: 10px;
    height: 40px;
    /*background-color: gray;*/
    display: inline-block;
    position: absolute;
    top: -30px;
    border-radius: 0 0 15% 15%;
    box-shadow: 0px 5px 3px black;
    background-image: url('chainTop.png');
    background-size: cover;
}
.woodBanner::after{
    content: '';
    width: 10px;
    height: 40px;
    /*background-color: gray;*/
    display: inline-block;
    position: absolute;
    top: -30px;
    right: 20px;
    border-radius: 0 0 15% 15%;
    box-shadow: 0px 5px 3px black;
    background-image: url('chainTop.png');
    background-size: cover;
}
.card{
    display: inline-block;
    width: 100px;
    height: 140px;
    border-radius: 25px;
    margin-bottom: 20px;
    border-bottom-width: 5px;
    border-top-width: 5px;  
    transition-duration: .4s;
    user-select: none;
    cursor: pointer;
    perspective: 500px;
    transform-style: preserve-3d;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.671);    
}
.flip{
    z-index: 200;    
    transform:scale(1.3) rotateY(-170deg);
    box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.671);
}
.goOut{
    z-index: 5000;
    transition-duration: 2s;
    transform: translate(3000px);
}
.side{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    margin: 0;
    position: absolute;
    backface-visibility: hidden;
}
.card > .side:nth-child(2){
    background-image: url('backCard.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.card > .side:nth-child(1){
    background-image: url('1.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(180deg)
}
#table{
    padding: 5vw;
    padding-left: 7vw;
    background-image: url('table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10vw;
    border: 10px outset rgb(39, 31, 21);
    overflow: hidden;
    box-shadow: inset 10px 10px 30px rgb(37, 25, 14),
                inset -10px -10px 20px rgb(37, 25, 14);
}

.messageDiv{
    position: absolute;
    width: 450px;
    height: 225px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    left: calc(50% - 225px);
    top: calc(50% - 112.5px);
    border: outset 5px rgb(70, 54, 33);
    padding: 0 20px;
    border-radius: 5% 5% 5% 5%;
    background-image: url('woodTop.jpg');
    background-size: contain;
    color: gainsboro;
    font-style: italic;
    font-variant: small-caps;
    text-shadow: 2px 2px 1px black;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 0.2vw;
    user-select: none;
    text-align: center;
    animation: win 1s ease;
}
.messageDivH2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.messageDivInfo{
    font-size: 1.5rem;
    letter-spacing: initial;
    margin-bottom: 0.5rem;
}
.btnWin{
    background-color: rgb(158, 142, 121);
    border: outset 5px rgb(70, 54, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: none;
    color: black;
}
.btnWin:hover{
    background-color: rgb(199, 178, 152);
    color: black;
    text-shadow: none;
}
@keyframes win{
    0%{
        transform: scale(0.01);
        overflow: hidden;
    }
    50%{
        transform: scale(1.3);
        overflow: hidden;
    }
    100%{
        transform: scale(1);
        overflow: hidden;
    }
}

@media screen and (max-width: 2560px){
    #topName{
        font-size: 16px;
    }
    #table{
        margin: 0 25%;
    }
    .card{
        width: 100px;
        height: 140px;
    }
}
@media screen and (max-width: 1920px){
    #topName{
        font-size: 16px;
    }
    #table{
        margin: 0 10%;
    }
    .card{
        width: 120px;
        height: 168px;
    }
}
@media screen and (max-width: 1600px){
    #topName{
        font-size: 16px;
    }
    #table{
        margin: 0 5%;
    }
    .card{
        width: 110px;
        height: 154px;
    }
}
@media screen and (max-width: 1440px){
    #topName{
        font-size: 16px;
    }
    #table{
        margin: 0 5%;
    }
    .card{
        width: 90px;
        height: 126px;
    }
}
@media screen and (max-width: 1024px){
    #topName{
        font-size: 16px;
    }
    .card{
        width: 90px;
        height: 126px;
        margin: 0;
    }
}
@media screen and (max-width: 768px){
    #topName{
        font-size: 16px;
    }
    .card{
        width: 75px;
        height: 105px;
        margin: 0;
    }
}
@media screen and (max-width: 600px){
    #topName{
        font-size: 10px;
    }
    .card{
        width: 50px;
        height: 70px;
        margin: 0;
    }
}
@media screen and (max-width: 425px){
    #topName{
        font-size: 10px;
    }
    .card{
        width: 50px;
        height: 70px;
        margin: 0;
    }
}
@media screen and (max-width: 375px){
    #topName{
        font-size: 10px;
    }
    #table{
        padding: 2vw;;
        padding-left: 4vw;
    }
    .card{
        width: 45px;
        height: 63px;
        border-radius: 5px;
        margin: 0;
    }
}
@media screen and (max-width: 325px){
    #topName{
        font-size: 10px;
    }
    #table{
        padding-left: 7vw;
    }
    .card{
        width: 45px;
        height: 63px;
        border-radius: 5px;
        margin: 0;
    }
}